@import url("https://cdn.web-fonts.ge/fonts/arial-geo-bolditalic/css/arial-geo-bolditalic.min.css");
/*reset*/
/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
}

/*header styles*/

.text-blue{
	color: green;
}
header{
	background-color: green;

}
nav li{
	width: 100px;
	/*margin: 30px;*/
}
.inline{
	/*display: inline;*/

}
.inline-block{
	display: inline-block;
}
nav,nav > ul, nav li{
	/*display: inline;*/
	display: inline-block;
	margin: 50px;

}
 
nav li a{
	color: yellow;
	font-family: 'Arial GEO BoldItalic';
    font-family: 'bold' ;
    front-size: ;
}

nav, .logo{
	vertical-align: top;
}

/*section styles*/
section{
	width: 900px;
	margin: auto;
	border: 2px solid;
}
.main-img{
	width: 100%;
	height: 500px;
	object-fit: cover;
	/*margin: auto;*/
	display: block;
}
.images-block img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.text-block p{
	margin-bottom: 20px;
	width: 300px;
	vertical-align:middle ;
}